.photo-grid__item {
  max-width: 100%;
  /*width: 288px;
  height: 216px;
  margin-bottom: 12px;
  /*width: calc(100vw - 16px * 2);
  height: calc((100vw - 16px * 2) * 0.75);*/
}

/*.photo-grid__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .photo-grid__item {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__item {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid__item {
    margin-bottom: 12px;
  }
}
