.cover__background {
  display: flex;
  background-image: url(../../../images/_dmitrii-vaccinium-22833-unsplash.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  max-width: 1280px;
  height: calc(100vw * 0.625);
  max-height: calc(1280px * 0.625);
}

@media screen and (min-width: 1280px) {
  .cover__background {
    width: calc(100vw - 48px * 2);
    height: calc((100vw - 48px * 2) * 0.625);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    margin: 92px 0 0 0;
    width: 100vw;
    /*height: calc(100% * 0.625);*/
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    margin: 90px 0 0 0;
    width: 100vw;
    /*height: calc(100% * 0.625);*/
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__background {
    margin: 66px 0 0 0;
    width: 100vw;
    /*height: calc(100% * 0.625);*/
  }
}
